@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    outline: none;
  }
}

@layer components {
  .comic-grid-container {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
.ant-btn-primary {
  background-color: #1677ff;
}
